<h1>New game</h1>
<ul>
  <% @letters.each do |letter| %>
  <li class="list-inline"><%= letter %></li>
  <% end %>
</ul>

<form action="/score">
  <label for="">What is the longest word you can find?</label>
  <input type="text" name="word" placeholder="A word">
  <input type="submit" value="play">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
</form>
